# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

venv/*
*logs*

# Distribution / packaging
.Python
build/
_build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
build/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE files
.idea/
.vscode


*/logs/

tests/logs/
.vscode/settings.json
*/performance


# Jenkins
jenkins_home/
tests_data/