dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
cache: pip
addons:
  apt:
    packages:
      - openjdk-8-jdk
      - libglu1-mesa-dev
      - freeglut3-dev
      - mesa-common-dev
      - mesa-utils
      - xvfb
      - libgl1-mesa-dri
      - libglapi-mesa
      - libosmesa6
      - libxi-dev
# command to install dependencies
install:
  - pip install .

# headless support
services: xvfb

# command to run tests
script:
  - export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/
  - xvfb-run -a pytest --ignore=minerl/env/Malmo --ignore=tests/excluded
  
branches:
  only:
  - master
  
deploy:
  provider: pypi
  user: minerl-test
  server: https://testpypi.python.org/pypi # Remove for deployment to official PyPi repo
  on:
    tags: true
 
