dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
cache: pip
addons:
  apt:
    packages:
      - openjdk-8-jdk
  
# command to install dependencies
install:
  - pip install .
# command to run tests
script:
  - pytest --ignore=minerl/env/Malmo/ --ignore=tests/
