#!/bin/bash \
xvfb-run -f {xauth} -n {index} \
java \
-Xms4G \
-Xmx8G \
-XX:+UseG1GC \
-XX:+UnlockExperimentalVMOptions \
-XX:MaxGCPauseMillis=100 \
-XX:+DisableExplicitGC \
-XX:TargetSurvivorRatio=90 \
-XX:G1NewSizePercent=35  \
-XX:G1MaxNewSizePercent=60  \
-XX:InitiatingHeapOccupancyPercent=15 \
-XX:G1MixedGCLiveThresholdPercent=50 \
-XX:+AggressiveOpts \
-XX:+AlwaysPreTouch \
-XX:+UseLargePagesInMetaspace \
-Xmx10G \
-XX:+UnlockExperimentalVMOptions \
-XX:+UseG1GC -XX:G1NewSizePercent=20 \
-XX:G1ReservePercent=20 \
-XX:MaxGCPauseMillis=50 \
-XX:G1HeapRegionSize=32M  \
-Djava.library.path={cracked_libs} \
-Dminecraft.launcher.brand=minecraft-launcher \
-Dminecraft.launcher.version=2.1.1349 \
-Dminecraft.client.jar={dotminecraft}/versions/1.12.2/1.12.2.jar \
-cp \
{dotminecraft}/libraries/net/minecraftforge/forge/1.12.2-14.23.4.2745/forge-1.12.2-14.23.4.2745.jar\
:{dotminecraft}/libraries/net/minecraft/launchwrapper/1.12/launchwrapper-1.12.jar\
:{dotminecraft}/libraries/org/ow2/asm/asm-all/5.2/asm-all-5.2.jar\
:{dotminecraft}/libraries/org/jline/jline/3.5.1/jline-3.5.1.jar\
:{dotminecraft}/libraries/net/java/dev/jna/jna/4.4.0/jna-4.4.0.jar\
:{dotminecraft}/libraries/com/typesafe/akka/akka-actor_2.11/2.3.3/akka-actor_2.11-2.3.3.jar\
:{dotminecraft}/libraries/com/typesafe/config/1.2.1/config-1.2.1.jar\
:{dotminecraft}/libraries/org/scala-lang/scala-actors-migration_2.11/1.1.0/scala-actors-migration_2.11-1.1.0.jar\
:{dotminecraft}/libraries/org/scala-lang/scala-compiler/2.11.1/scala-compiler-2.11.1.jar\
:{dotminecraft}/libraries/org/scala-lang/plugins/scala-continuations-library_2.11/1.0.2/scala-continuations-library_2.11-1.0.2.jar\
:{dotminecraft}/libraries/org/scala-lang/plugins/scala-continuations-plugin_2.11.1/1.0.2/scala-continuations-plugin_2.11.1-1.0.2.jar\
:{dotminecraft}/libraries/org/scala-lang/scala-library/2.11.1/scala-library-2.11.1.jar\
:{dotminecraft}/libraries/org/scala-lang/scala-parser-combinators_2.11/1.0.1/scala-parser-combinators_2.11-1.0.1.jar\
:{dotminecraft}/libraries/org/scala-lang/scala-reflect/2.11.1/scala-reflect-2.11.1.jar\
:{dotminecraft}/libraries/org/scala-lang/scala-swing_2.11/1.0.1/scala-swing_2.11-1.0.1.jar\
:{dotminecraft}/libraries/org/scala-lang/scala-xml_2.11/1.0.2/scala-xml_2.11-1.0.2.jar\
:{dotminecraft}/libraries/lzma/lzma/0.0.1/lzma-0.0.1.jar\
:{dotminecraft}/libraries/net/sf/jopt-simple/jopt-simple/5.0.3/jopt-simple-5.0.3.jar\
:{dotminecraft}/libraries/java3d/vecmath/1.5.2/vecmath-1.5.2.jar\
:{dotminecraft}/libraries/net/sf/trove4j/trove4j/3.0.3/trove4j-3.0.3.jar\
:{dotminecraft}/libraries/org/apache/maven/maven-artifact/3.5.3/maven-artifact-3.5.3.jar\
:{dotminecraft}/libraries/com/mojang/patchy/1.1/patchy-1.1.jar\
:{dotminecraft}/libraries/oshi-project/oshi-core/1.1/oshi-core-1.1.jar\
:{dotminecraft}/libraries/net/java/dev/jna/jna/4.4.0/jna-4.4.0.jar\
:{dotminecraft}/libraries/net/java/dev/jna/platform/3.4.0/platform-3.4.0.jar\
:{dotminecraft}/libraries/com/ibm/icu/icu4j-core-mojang/51.2/icu4j-core-mojang-51.2.jar\
:{dotminecraft}/libraries/net/sf/jopt-simple/jopt-simple/5.0.3/jopt-simple-5.0.3.jar\
:{dotminecraft}/libraries/com/paulscode/codecjorbis/20101023/codecjorbis-20101023.jar\
:{dotminecraft}/libraries/com/paulscode/codecwav/20101023/codecwav-20101023.jar\
:{dotminecraft}/libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123.jar\
:{dotminecraft}/libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824.jar\
:{dotminecraft}/libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107.jar\
:{dotminecraft}/libraries/io/netty/netty-all/4.1.9.Final/netty-all-4.1.9.Final.jar\
:{dotminecraft}/libraries/com/google/guava/guava/21.0/guava-21.0.jar\
:{dotminecraft}/libraries/org/apache/commons/commons-lang3/3.5/commons-lang3-3.5.jar\
:{dotminecraft}/libraries/commons-io/commons-io/2.5/commons-io-2.5.jar\
:{dotminecraft}/libraries/commons-codec/commons-codec/1.10/commons-codec-1.10.jar\
:{dotminecraft}/libraries/net/java/jinput/jinput/2.0.5/jinput-2.0.5.jar\
:{dotminecraft}/libraries/net/java/jutils/jutils/1.0.0/jutils-1.0.0.jar\
:{dotminecraft}/libraries/com/google/code/gson/gson/2.8.0/gson-2.8.0.jar\
:{dotminecraft}/libraries/com/mojang/authlib/1.5.25/authlib-1.5.25.jar\
:{dotminecraft}/libraries/com/mojang/realms/1.10.22/realms-1.10.22.jar\
:{dotminecraft}/libraries/org/apache/commons/commons-compress/1.8.1/commons-compress-1.8.1.jar\
:{dotminecraft}/libraries/org/apache/httpcomponents/httpclient/4.3.3/httpclient-4.3.3.jar\
:{dotminecraft}/libraries/commons-logging/commons-logging/1.1.3/commons-logging-1.1.3.jar\
:{dotminecraft}/libraries/org/apache/httpcomponents/httpcore/4.3.2/httpcore-4.3.2.jar\
:{dotminecraft}/libraries/it/unimi/dsi/fastutil/7.1.0/fastutil-7.1.0.jar\
:{dotminecraft}/libraries/org/apache/logging/log4j/log4j-api/2.8.1/log4j-api-2.8.1.jar\
:{dotminecraft}/libraries/org/apache/logging/log4j/log4j-core/2.8.1/log4j-core-2.8.1.jar\
:{dotminecraft}/libraries/org/lwjgl/lwjgl/lwjgl/2.9.4-nightly-20150209/lwjgl-2.9.4-nightly-20150209.jar\
:{dotminecraft}/libraries/org/lwjgl/lwjgl/lwjgl_util/2.9.4-nightly-20150209/lwjgl_util-2.9.4-nightly-20150209.jar\
:{dotminecraft}/libraries/com/mojang/text2speech/1.10.3/text2speech-1.10.3.jar\
:{dotminecraft}/versions/1.12.2/1.12.2.jar\
    net.minecraft.launchwrapper.Launch \
        --username imushroom1 \
        --version 1.12.2-forge1.12.2-14.23.4.2745 \
        --gameDir {target_mc_name} \
        --assetsDir {dotminecraft}/assets \
        --assetIndex 1.12 \
        --uuid ce7c20e4445443eea7c184eb6dad13c1 \
        --accessToken ca36dda91089440fb5a8e5f0f2185c25 \
        --userType mojang \
        --tweakClass net.minecraftforge.fml.common.launcher.FMLTweaker \
        --versionType Forge &> {target_mc_name}/logs/debug.log &
PID=$!
XAUTHORITY={xauth} x11vnc -rfbport 50{index} -display :{index}.0 -forever  &> {target_mc_name}/logs/xvnc.log
wait $PID
