.rst-content .toggle {
    background: none repeat scroll 0 0 #e7f2fa;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

.rst-content .toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

.rst-content .toggle .admonition-title:after {
    content: " ▶";
}

.rst-content .toggle .admonition-title.open:after {
    content: " ▼";
}

.rst-content .toggle p:last-child {
    margin-bottom: 0;
}